@charset "UTF-8";

#title {
	text-align: center;
	font-family: uni-rounded;
	font-size: 400%;
	background-color: DodgerBlue; 
}

#title2 {
	text-align: center;
	font-family: uni-rounded;
	background-color: DodgerBlue; 
}


#NavBar{
    text-align: center;
	font-size: 20px;
    font-weight: bold;
    background-color: DodgerBlue; 
    
    
}


#searchId{
	font-family: uni-rounded;
	text-align: center;
	font-size: 18px;
    font-weight: bold;
    
}

#searchName{
	font-family: uni-rounded;
	font-size: 18px;
    font-weight: bold;
	
}

#big{
	font-size: 100px;
}

#searchResult {
	background-color: DodgerBlue; 
	
}

#pFont{
	font-size: 50px;
}

#display {
	font-size: 25px;
	font-family: uni-rounded;
	font-weight: bold;
	text-align: center;
	
}

#countryname{
	font-size: 25px;
	font-family: uni-rounded;
	font-weight: bold;
	text-align: center;
	
}
    